* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

body {
	background-color: #1b1b1b;
    padding: 0;
    margin: 0;
}

h2 {
  font-size: 3.0rem;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Arial;
}

p {
	color: #fff;
	font-size: 3.0rem;
    font-family: Arial;
}

.units {
	font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}

.mq135-labels {
	color: whitesmoke;
	font-size: 1.5rem;
	vertical-align: middle;
	padding-bottom: 15px;
    font-family: Arial;
}